p {margin: 0; padding: 0;}	.ft10{font-size:29px;font-family:Times;color:#000000;}
.ft11{font-size:5px;font-family:Times;color:#001f5f;}
.ft12{font-size:16px;font-family:Times;color:#001f5f;}
.ft13{font-size:25px;font-family:Times;color:#000000;}
.ft14{font-size:16px;font-family:Times;color:#538dd3;}
.ft15{font-size:16px;font-family:Times;color:#17365d;}
.ft16{font-size:16px;font-family:Times;color:#0e233d;}
.ft17{font-size:14px;font-family:Times;color:#000000;}
.ft18{font-size:16px;font-family:Times;color:#212121;}
.ft19{font-size:28px;font-family:Times;color:#212121;}
.ft110{font-size:19px;font-family:Times;color:#212121;}
.ft111{font-size:14px;font-family:Times;color:#212121;}
.ft112{font-size:16px;font-family:Times;color:#212121;}
.ft113{font-size:12px;font-family:Times;color:#000000;}
.ft114{font-size:12px;font-family:Times;color:#000000;}
.ft115{font-size:15px;font-family:Times;color:#000000;}
.ft116{font-size:12px;font-family:Times;color:#212121;}
.ft117{font-size:14px;font-family:Times;color:#000000;}
.ft118{font-size:14px;font-family:Times;color:#000000;}
.ft119{font-size:14px;font-family:Times;color:#c00000;}
.ft120{font-size:16px;line-height:20px;font-family:Times;color:#212121;}
.ft121{font-size:12px;line-height:17px;font-family:Times;color:#000000;}
.ft122{font-size:14px;line-height:19px;font-family:Times;color:#000000;}
.ft123{font-size:14px;line-height:18px;font-family:Times;color:#000000;}
.ft124{font-size:14px;line-height:18px;font-family:Times;color:#000000;}
.ft125{font-size:14px;line-height:19px;font-family:Times;color:#000000;}